<div class="container">
    <div class="row-fluid footer-description">
        <div class="span12 footer-content">
            <div class="span6">The Charles Stewart Apartments, 12 Parnell Square, Dublin (Ireland)</div>
            <div class="span1"/>
            <div class="span5">Tel: +353 1 878 0350 <span class="email">Email: info@charlesstewartapartments.ie</span><span class="facebook-logo"><a href="http://www.facebook.com/CharlesStewartDublin"><img height='32px' width='32px' src="img/facebook-logo-transparent.png" alt=""></a></span></div>
        </div>
    </div>
</div>
